body {
   letter-spacing: .05rem;
   background: #FEFFFE;
 }

strong {
  font-weight: 600;
}

html {
  scroll-behavior: smooth;

  @media (max-width: $max-sm) {
    font-size: 15px;
  }

  @media (max-width: 350px) {
    font-size: 13px;
  }
}